EPIC_MYCHART_CLIENT_ID=1e79c712-8e45-486d-a0b2-797a8865005c
EPIC_MYCHART_CLIENT_SECRET=RYm4/5Y6MbbeJfao4GzPVj1rsiULhkqyekyEMIR13iFD4cpUUuyJx0thL14ptFvkLU1kW2UfEq2eDdBbR5L51w==
NEXTAUTH_SECRET=
NEXTAUTH_URL='http://localhost:3000/'